button
  border: none
  background-color: $link-color
  color: $white
  border-radius: 0
  transition: all .2s ease-in-out
  line-height: 2rem
  padding: 0 1rem
  &:hover
    background-color: $link-hover-color
    cursor: pointer
  &.disabled 
    background-color: $lightgray
    color: darken($lightgray, 10%)
    pointer-events: none