+container

*, *::before, *::after
  box-sizing: border-box
html, body
  padding: 0
  margin: 0
  background-color: #f2f2f2
  font-family: 'Roboto', sans-serif
  font-size: 16px

.wrapper--content
  @include container(700px)
  overflow: visible
  background-color: white
  margin-bottom: 2rem
h1, h2, h3, h4, h5, h6
  padding: 0
  margin: 1rem 0