.quiz-intro, .quiz-results
  padding: 2rem
.quiz-content
  position: relative
  min-height: 12.5rem
  z-index: 10
.quiz-question
  background-color: $white
  margin-bottom: 2rem
.quiz-details
  display: flex
  padding: 3rem
  .quiz-number
    font-size: 2.5rem
    margin: -.75rem .5rem 0 0
    font-weight: bold
  audio
    width: 100%
.quiz-options
  background-color: $white
  display: flex
  flex-wrap: wrap
  > div
    flex: 1 0 50%
    line-height: 6rem
    background-color: $lightgray
    transition: all .2s ease-in-out
    padding: 0 0 0 .5rem
    text-align: center
    &:nth-child(1), &:nth-child(2)
      border-bottom: $white 1px solid
    &:nth-child(odd)
      border-right: $white 1px solid
    &:hover 
      background-color: darken($lightgray, 5%)
      cursor: pointer
    &.selected
      background-color: darken($lightgray, 20%)
      color: $white
      &:hover 
        cursor: default
.quiz-result
  height: 3rem
  width: 3rem
  border-radius: 100%
  position: absolute
  top: 0
  left: 0
  text-align: center
  background-color: $white
  z-index: -10
  transition: all .2s ease-in-out
  .incorrect, .correct
    display: none
  svg 
    height: 2rem
    width: 2rem
    margin-top: .5rem
  .answer-correct &, .answer-incorrect &
    left: -1rem
    top: -1rem
    z-index: 10
  .answer-correct &
    .incorrect
      display: none
    .correct
      display: block
  .answer-incorrect &
    .correct
      display: none
    .incorrect
      display: block
.result--percent
  font-weight: bold
  font-size: 1.5rem
  